body{
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    background-image: linear-gradient(to top, white, #bac8ec );
    -webkit-text-size-adjust: 100%;
}

a{
    color: inherit;
    text-decoration: none;
}


.news-wrapper {
    margin-bottom: 15px;
    padding: 10px; /* Menambahkan padding box */
    background-color:rgb(218, 219, 233);
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #175873;
    border-radius: 10px;

}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, 
.dropdown:hover .dropbtn {
    background-color: #c85250;
    transition: all 0.5s ease;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

*{
    box-sizing: border-box;
}

.flex{
    display: flex;
    width: 100%;
}

.comment-box, .comment-list{
    background-color:rgb(218, 219, 233);
    border-radius: 4px;
    box-shadow: 0 2px 2px #0002;
}

.comment-session{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.comment-list{
    width: 100%;
    margin-bottom: 12px;
}

.comment-list .user{
    padding: 8px;
    overflow: hidden;
}

.comment-list .name{
    text-transform: uppercase;
    font-weight: 600;
}

.comment-list .day{
    font-size: 12px;
}

.post-comment .comment{
    padding: 0 0 15px 58px;
}

.comment-box{
    padding: 10px;
    overflow: hidden;
}

.comment-box .user{
    width: min-content;
}

.comment-box textarea{
    background: #eee;
    width: -webkit-fill-available;
    height: 152px;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 0 0.5px #0003;
}

.comment-box textarea:focus{
    outline-color: #009cff;
}

.comment-box .submit{
    padding: 6px 14px;
    border: none;
    background: #009cff;
    color: #fff;
    cursor: pointer;
    border-radius: 2px;
}

.comment-box .submit:hover{
    background: #027ecc;
}